html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 400px;
}

.mapboxgl-canvas-container {
    cursor: default !important;
}

#panel {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    overflow: auto;
}

.mapstyle-button {
    display: block;
    height: 40px;
    border: 1px solid black;
    margin: 10px 10px 0 10px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.mapstyle-button:last-child {
    margin-bottom: 10px;
}

.mapstyle-button.active {
    background-color: black;
    color: white;
    cursor: initial;
    pointer-events: none;
}

.mapstyle-button.add {
    font-size: 32px;
    font-weight: bold;
}

#add-mapstyle-input {
    display: none;
}

.controls,
#scale {
    padding: 10px;
}

#scale {
    display: flex;
}

#scale-input {
    cursor: pointer;
    flex-grow: 1;
    margin-right: 10px;
}

.layers-header {
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    text-transform: uppercase;
    padding: 0 10px;
    border-bottom: 2px solid black;
    line-height: 30px;
}

#tile-boundaries,
#collision-boxes,
#overdraw-inspector,
#label-lines,
#terrain,
#recalculate-spacing {
    cursor: pointer;
    margin: 0;
    vertical-align: middle;
}

#symbol-spacing,
#text-max-angle,
#text-padding {
    width: 75px;
    cursor: pointer;
}

#feature-info {
    padding: 10px;
}

#feature-info p {
    padding: 0;
    margin: 0;
}
